footer {
    background-color: rgb(119, 117, 117);
    padding: 15;
    margin-top: 20;
}

.container {
    background-attachment: red;
    justify-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerr {
    position: relative;
    text-align: center;
    color: white;
}